<h1>Hello World!</h1>
<h2>Line Msg Test</h2>
<h2>contacts: {{ cl.contacts }}</h2>
<h2>groups: {{ cl.groups }}</h2>
<h2>groups: {{ cl.groups[1].getMemberIds() }}</h2>
{% block body %}
<form method='POST'>
	<select id="groups" name="groups">
	{% for i,se in enum  %}
	<option value="{{i}}">{{ se }}</option>
	{% endfor %}
    </select>
	<label>msg to send:</label>
	<input type='text' id='msgs' name='msgs'>
	<button type='submit'>Submit</button>
</form>
{% for entry in msg  %}
<h2>Id: {{ entry.id }}</h2>
<h2>Mgs: {{ entry.text }}</h2>
<h2>Sender: {{ entry.sender }}</h2>
<h2>Receiver: {{ entry.receiver }}</h2>
<h2>createdTime: {{ entry.createdTime }}</h2>
{% endfor %}
{% endblock %}
